[data-id="message-dialog"] {
    max-width: 600px;    
}
[data-id="message-icon"] {
    width: 45px;
    height: 45px;
    margin: 15px;
    margin-left: 10px;
}
[data-id="message-text"] {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 15px;
    -webkit-user-select: auto;
}
[data-id="message-chb"] {
    -webkit-user-select: auto;
}
[data-id="message-buttons"] {
    margin-top: 1em;
}