/* Colors */
:root {
	--light-color-text-2: #404040;
	--light-color-text-highlight: #d85b0e;
	--light-color-background: #ffffff;
	--light-color-background-secondary: #f0f0f0;
	--light-color-background-tertiary: #f8f8f8;
	
	--dark-color-text-2: #c9c9c9;
	--dark-color-text-highlight: #ff9d60;
	--dark-color-background-tertiary: #272b30;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-text-2: var(--light-color-text-2);
        --color-text-highlight: var(--light-color-text-highlight);
		--color-background-tertiary: var(--light-color-background-tertiary);
        --color-list-separator: var(--dark-color-text-2);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text-2: var(--dark-color-text-2);
        --color-text-highlight: var(--dark-color-text-highlight);
		--color-background-tertiary: var(--dark-color-background-tertiary);
        --color-list-separator: var(--light-color-text-2);
    }
}

:root[data-theme="light"] {
	--color-text-2: var(--light-color-text-2);
	--color-text-highlight: var(--light-color-text-highlight);
	--color-background-tertiary: var(--light-color-background-tertiary);
    --color-list-separator: var(--dark-color-text-2);
}

:root[data-theme="dark"] {
	--color-text-2: var(--dark-color-text-2);
	--color-text-highlight: var(--dark-color-text-highlight);
	--color-background-tertiary: var(--dark-color-background-tertiary);
    --color-list-separator: var(--light-color-text-2);
}

body {
	font-family: Roboto,Helvetica,Arial,sans-serif;
}

/* Undocumented properties */
.tsd-index-link.tsd-is-undocumented {
    font-weight: 300;
}
.tsd-is-undocumented .tsd-anchor-link, .tsd-is-undocumented .tsd-comment {
    font-weight: normal;
}
/* Inherited properties */
/* .tsd-is-inherited {
	opacity: 0.8;
} */

/* Toolbar (header) */
.navbar-nav a {
	padding-left: .9375rem;
	padding-right: .9375rem;
	margin: 0;
	font-size: 14px;
    opacity: 95%;
}
#tsd-toolbar-links a {
    margin-left: 0;
}

.page-menu .navbar-nav {
    display: none;
}
@media(max-width: 769px) {
    .page-menu .navbar-nav {
        display: block;
        margin-bottom: 1.5rem; /* This is the `gap` property of .col-sidebar, but with the default layout we can't insert .navbar-nav as the first child of .col-sidebar */
    }
    .page-menu .navbar-nav a {
        margin: 5px 0;
        display: block;
    }
    #tsd-toolbar-links {
        display: none!important;
    }
}

.navbar-nav .nav-item a {
    position: relative;
    color: inherit;
    padding: 0.9375rem;
    font-weight: 400;
    text-transform: none;
    border-radius: 3px;
    line-height: 20px;
    font-size: 14px;
}

.page-menu .navbar-nav .nav-item:after {
    width: 100%;
    content: "";
    display: block;
    height: 1px;
    background-color: var(--color-list-separator);
}

.page-menu .navbar-nav .nav-item:last-child:after {
    display: none;
}

.tsd-page-toolbar {
	border-bottom: none;
}

.tsd-page-toolbar a:hover, .navbar-nav a:hover {
	text-decoration: none!important;
}

.tsd-page-toolbar .tsd-toolbar-contents {
	height: 3.125rem;
}

#tsd-search, #tsd-widgets {
	display: flex;
	align-content: center;
}

#tsd-search .title {
	align-self: center;
	font-size: 24px;
    font-weight: 400;
    color: var(--color-text-2);
    padding: 0px;
	display: flex;
}

#tsd-search .title:before {
	content: '';
	display: block;
	align-self: center;
	background-image: url("https://www.mediamonkey.com/assets/img/logo.png");
	width: 40px;
	height: 34px;
	background-size: contain;
    align-self: center;
    margin-right: 13px;
}

.highlight {
	color: var(--color-text-highlight)!important;
}

#tsd-search .field {
	display: flex;
}

#tsd-search .field label, #tsd-widgets .tsd-widget{
	align-self: center;
}

/* Hamburger menu was too small */
#tsd-widgets .tsd-widget {
	height: unset;
}

#tsd-widgets .tsd-widget svg {
    height: 20px;
    width: 20px;
}

.container-main {
	margin-top: 1rem;
}

.tsd-index-section {
    background-color: var(--color-background-tertiary);
    padding: 1.2rem;
    margin: 1.5rem -1.2rem -1.2rem -1.2rem;
	border-radius: 8px 0 0 8px;
}

.tsd-panel.tsd-member {
    background-color: var(--color-background-tertiary);
    padding: 1.2rem 1.2rem 0.2rem 1.2rem;
    margin: -1.2rem -1.2rem 2.8rem -1.2rem;
	border-radius: 8px 0 0 8px;
}

.tsd-index-heading {
	margin-top: 0;
}

.tsd-panel-group > h2 {
	margin-bottom: 2rem;
}

/* Breadcrumbs */

.tsd-breadcrumb a {
	color: var(--color-text-highlight);
}

.tsd-breadcrumb li:after {
	content: ' > ';
}

.tsd-breadcrumb li:last-child:after {
	content: ' ';
}

/* Footer */

.footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-height: 3.5rem;
	background-color: var(--color-background-tertiary);
	font-size: 13px;
}
.footer > p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 1rem;
	opacity: 90%;
	/* to space the left and right links */
    display: flex;
    justify-content: space-between;
}

a.copyright, a.copyright:hover {
	color: var(--color-text-2);
	text-decoration: none;
}

.col-sidebar {
    font-size: 14px;
}

@media (min-width: 1200px) {
  .page-menu, .site-menu {
    top: 66px;
  }
}